#ForYouArticlesBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#MissedArticlesBox {
  display: flex;
  justify-content: space-evenly;
}

.MissedArticleImage {
  width: 100%;
}

.OneForYouArticle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 45%;
  border: 0.5px solid black;
}

.OneMissedArticle {
  border: 0.5px solid black;
  width: 30%;
}

.ArticleImage {
  width: 35%;
}

.AuthorSection {
  display: flex;
}